body {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header {
    height: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    gap: 10px;
}

#run {
    margin-left: 10px;
    border: none;
    color: white;
    background-color: #007acc;
    cursor: pointer;
    margin: 4px 4px;
    padding: 8px 25px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

#title {
    height: auto;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-grow: 1;
    height: 96vh;
}

#code-editor {
	height: auto;
    width: 50%;
    font-family: monospace;
    color: white;
    background-color: #1e1e1e;
}

#output {
	height: auto;
    width: 50%;
    font-family: monospace;
    color: white;
    background-color: #1e1e1e;
    border-width: 0px;
}

#output:focus {
    outline: 0;
}

@media (max-width: 850px) {
    #container {
        flex-direction: column;
        gap: 1px;
    }

    #code-editor {
        height: 70%;
        width: 100%;
    }

    #output {
        height: 30%;
        width: 100%;
        border-top: 2px solid #363636;   
    }
}